@import "tailwindcss";
@import "tw-animate-css";

@custom-variant light (&:is(.light *));

:root {
  --background: #4f4f4f;
  --foreground: #000000;
  --card: #4f4f4f;
  --card-foreground: #ffffff;
  --popover: #fcfcfc;
  --popover-foreground: #000000;
  --primary: #00ffff;
  --primary-foreground: #ffffff;
  --secondary: #878787;
  --secondary-foreground: #000000;
  --muted: #000000;
  --muted-foreground: #ffffff;
  --accent: #ffffff;
  --accent-foreground: #000000;
  --destructive: #ff0000;
  --destructive-foreground: #ffffff;
  --border: #00ffff;
  --input: #ffffff;
  --ring: #000000;
  --chart-1: #8dc84a;
  --chart-2: #33c2ff;
  --chart-3: #fd2ba6;
  --chart-4: #32e4a0;
  --chart-5: #747474;
  --sidebar: #4f4f4f;
  --sidebar-foreground: #000000;
  --sidebar-primary: #00ffff;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #ffffff;
  --sidebar-accent-foreground: #000000;
  --sidebar-border: #00ffff;
  --sidebar-ring: #000000;
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 1.3rem;
  --shadow-x: 1px;
  --shadow-y: 1px;
  --shadow-blur: 4px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.88;
  --shadow-color: #00ffff;
  --shadow-2xs: 1px 1px 4px 1px hsl(180 100% 50% / 0.44);
  --shadow-xs: 1px 1px 4px 1px hsl(180 100% 50% / 0.44);
  --shadow-sm: 1px 1px 4px 1px hsl(180 100% 50% / 0.88), 1px 1px 2px 0px hsl(180 100% 50% / 0.88);
  --shadow: 1px 1px 4px 1px hsl(180 100% 50% / 0.88), 1px 1px 2px 0px hsl(180 100% 50% / 0.88);
  --shadow-md: 1px 1px 4px 1px hsl(180 100% 50% / 0.88), 1px 2px 4px 0px hsl(180 100% 50% / 0.88);
  --shadow-lg: 1px 1px 4px 1px hsl(180 100% 50% / 0.88), 1px 4px 6px 0px hsl(180 100% 50% / 0.88);
  --shadow-xl: 1px 1px 4px 1px hsl(180 100% 50% / 0.88), 1px 8px 10px 0px hsl(180 100% 50% / 0.88);
  --shadow-2xl: 1px 1px 4px 1px hsl(180 100% 50% / 2.20);
  --tracking-normal: -0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: #1a1e1d;
  --foreground: #f0f0f0;
  --card: #222726;
  --card-foreground: #f0f0f0;
  --popover: #222726;
  --popover-foreground: #f0f0f0;
  --primary: #5ccfff;
  --primary-foreground: #ffffff;
  --secondary: #2a3331;
  --secondary-foreground: #f0f0f0;
  --muted: #2a3331;
  --muted-foreground: #a0a0a0;
  --accent: #1e3b30;
  --accent-foreground: #79ffb8;
  --destructive: #f871f8;
  --destructive-foreground: #ffffff;
  --border: #333a38;
  --input: #333a38;
  --ring: #5ccfff;
  --chart-1: #a8de4a;
  --chart-2: #5ccfff;
  --chart-3: #fca5fc;
  --chart-4: #59f4ba;
  --chart-5: #a0a0a0;
  --sidebar: #181b1b;
  --sidebar-foreground: #f0f0f0;
  --sidebar-primary: #5ccfff;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #2a3331;
  --sidebar-accent-foreground: #5ccfff;
  --sidebar-border: #333a38;
  --sidebar-ring: #5ccfff;
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 1.3rem;
  --shadow-x: 1px;
  --shadow-y: 1px;
  --shadow-blur: 4px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.88;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 1px 1px 4px 1px hsl(0 0% 10.1961% / 0.44);
  --shadow-xs: 1px 1px 4px 1px hsl(0 0% 10.1961% / 0.44);
  --shadow-sm: 1px 1px 4px 1px hsl(0 0% 10.1961% / 0.88), 1px 1px 2px 0px hsl(0 0% 10.1961% / 0.88);
  --shadow: 1px 1px 4px 1px hsl(0 0% 10.1961% / 0.88), 1px 1px 2px 0px hsl(0 0% 10.1961% / 0.88);
  --shadow-md: 1px 1px 4px 1px hsl(0 0% 10.1961% / 0.88), 1px 2px 4px 0px hsl(0 0% 10.1961% / 0.88);
  --shadow-lg: 1px 1px 4px 1px hsl(0 0% 10.1961% / 0.88), 1px 4px 6px 0px hsl(0 0% 10.1961% / 0.88);
  --shadow-xl: 1px 1px 4px 1px hsl(0 0% 10.1961% / 0.88), 1px 8px 10px 0px hsl(0 0% 10.1961% / 0.88);
  --shadow-2xl: 1px 1px 4px 1px hsl(0 0% 10.1961% / 2.20);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}